@import "variables";
@import "base";

html,body{
    font-family: Verdana,Helvetica, sans-serif !important;
    font-size: 13px !important;
}
.spacer{height: 1em;}
.appMain{background-color: ivory;width: 100%;}
.navbar.applnHeader,.applnFooter{background: #049fd9;color: #fff;padding: 5px;text-align: center;}
.navbar.applnHeader{font-size: 22px;}
.mainContent{padding-bottom: 4em;padding-top: 4em;
    .container-fluid{background-color: #3c414d;display: flex;flex-direction: row-reverse;}
    .navbar-default{
        .navbar-nav{padding: 5px;
            li{
                &:hover{
                    a{background-color: #049fd9;color: #ffffff;}
                }
                a{color: #ffffff;padding-top: 10px;padding-bottom: 10px;}
                &.active{font-weight: bold;
                    a{color: #555555;}
                }
            }
        }
    }
}
.homeContent,.ftrsContent,.prflContent,.rdxRctContent {
    h1,h2,h3,h4{color: lightseagreen;}
    p{font-size: 14px;margin-bottom: 2px;}
    pre{overflow: hidden;white-space: pre-wrap;
        div.mrkUp{color: #049fd9;text-decoration: underline;}
    }
}
.ftrsContent {
    .custComp,.childPropComp,.eventsComp,.compState,.compRefs,.animateComp{
        pre{margin-left: 15px;margin-right: 15px;padding-left: 15px;padding-right: 15px;
            .mrkUp{color: #049fd9;text-decoration: underline;}
        }
    }
}
i.codeView{font-size: 1.2em;color: #e47a1c;cursor: pointer;}
.allignComp{padding-left: 15px;padding-right: 15px;}
.stateCheckLabel{width: 100%;
    .stateCheckbox{margin-left: 0.2em;position: relative;top: 2px;}
}
.compRefs .allignComp input{margin-right: 0.8em;}
.rdxRctContent {font-size: 14px;
    .row{margin-left: 0;margin-right: 0;}
}
.todoContainer{font-size: 13px;
    .todoTitle{padding: 0.3em;margin-bottom: 0.3em;width: 65%;}
    .todoComponent{background: #ffffff;border: 1px solid #dedede;box-shadow: 2px 2px 2px #dedede;}
    .todoContentText{border-left: 1px solid #dedede;min-height: 30em;padding: 1.2em;padding-top: 0;
        h4{margin-top: 0;text-decoration: underline;}
        ul{ padding-left: 15px;
            li{background: none;list-style-type: disc;}
        }
    }
    .addItem{margin-left: 1em;}
    ul{padding-left: 0; width: 65%;
        li{background: #eaeaea;color: #888888;list-style: none;padding: 0.5em;
            .glyphicon-trash,.glyphicon-ok{font-size: 1.2em;display: none;padding-left: 0.5em;}
            .glyphicon-ok.showSelected{display: block;}
            &.even{background: #f1f1f1;color: lightseagreen;}
            &.odd{background: transparent;color: lightseagreen;}
            &:hover{cursor: pointer;
                .glyphicon-trash{color: red;display: block;}
                .glyphicon-ok{color: green; display: block;}
            }
            .deleteTodo{background: url('../img/deleteRed.png');height: 32px;width: 32px;}
        }
    }
}

/** Modal window implementation **/
.modalComp{background: #fff;position: fixed;top: 10%;z-index: 9999; min-width: 500px;
    .modalHeader{background: #049fd9;color: #ffffff;font-size: 20px;padding: 8px;
        .glyphicon-remove{cursor: pointer;position: relative;top: 6px;}
    }
    .modalBody{padding: 10px;}
}
.backdropStyle{background: rgba(0, 0, 0, 0.3);height: 100%;left: 0;position: fixed;;top: 0;width: 100%;z-index: 9998;}

.listItem{color: #343434;cursor: pointer;padding: 0.5em;width: 30%;background-color: #dedede;margin: 0.2em;
    &:hover{background-color: #035b58;color: #ffffff;}
}

/** Animation in react components **/
.anmtComp-enter {
    opacity: 0.01;
    background-color: #c7f9f7;
    &.anmtComp-enter-active {
        color: #035b58;
        opacity: 1;
        transition: opacity 1000ms ease-in;
    }
}
.anmtComp-leave {
    opacity: 1;
    &.anmtComp-leave-active {
        opacity: 0.01;
        transition: opacity 500ms ease-in;
    }
}

.prflContent img{width: 100%;}
